.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #032974;
  width: 100%;
  min-width: 0;
  padding: 64px 64px 14px;
}
.freeBox___5ZsUc {
  display: flex;
  position: relative;
  max-width: var(--token-I4hJD4zmQkhf);
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox___5ZsUc > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 52px);
  width: calc(100% + 52px);
}
.freeBox___5ZsUc > :global(.__wab_flex-container) > *,
.freeBox___5ZsUc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5ZsUc > :global(.__wab_flex-container) > picture > img,
.freeBox___5ZsUc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 52px;
}
@media (max-width: 930px) {
  .freeBox___5ZsUc {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 930px) {
  .freeBox___5ZsUc > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 930px) {
  .freeBox___5ZsUc > :global(.__wab_flex-container) > *,
  .freeBox___5ZsUc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___5ZsUc > :global(.__wab_flex-container) > picture > img,
  .freeBox___5ZsUc
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox___3Wt1Q {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 387px;
  height: 296px;
  flex-shrink: 0;
  padding: 0px;
}
@media (max-width: 930px) {
  .freeBox___3Wt1Q {
    justify-content: center;
    align-items: center;
  }
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 229px;
  max-height: 35px;
}
.img > picture > img {
  object-fit: cover;
}
.text__ib09G {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  color: var(--token-eo6SAtX4adj0);
  font-family: "Montserrat", sans-serif;
  padding-top: 21px;
  align-self: flex-start;
  text-align: left;
  font-size: 18px;
  min-width: 0;
}
@media (max-width: 930px) {
  .text__ib09G {
    text-align: center;
    width: 100%;
    max-width: 346px;
    align-self: center;
    min-width: 0;
  }
}
.freeBox__qoH2U {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 32px 0px 0px;
}
@media (max-width: 930px) {
  .freeBox__qoH2U {
    align-items: center;
    justify-content: center;
  }
}
.svg__cpZep {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  width: auto;
  height: 1em;
}
.svg__wxTcq {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  height: 1em;
}
.svg___9F2L {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  height: 1em;
}
.svg___4Irwv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  height: 1em;
}
.freeBox__mRflI {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 110px;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 930px) {
  .freeBox__mRflI {
    justify-content: center;
    align-items: center;
    align-self: center;
  }
}
.h4__rkUyO {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 930px) {
  .h4__rkUyO {
    text-align: center;
    margin-top: 53px;
  }
}
.button__v3Vhy:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 26px;
}
@media (max-width: 930px) {
  .button__v3Vhy:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__e657R {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.link__fXhwT {
  color: var(--token-eo6SAtX4adj0);
}
.svg___5PnT3 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__gAer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (max-width: 930px) {
  .button__gAer:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__xbPks {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.link__kaRq3 {
  color: var(--token-eo6SAtX4adj0);
}
.svg__dfb1J {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__hG4X:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (max-width: 930px) {
  .button__hG4X:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__p1OGo {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__sfw7F {
  color: var(--token-eo6SAtX4adj0);
}
.svg__rm338 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__kpE7W {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 166px;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 930px) {
  .freeBox__kpE7W {
    justify-content: center;
    align-items: center;
  }
}
.h4__nX8Vm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 930px) {
  .h4__nX8Vm {
    text-align: center;
    margin-top: 46px;
  }
}
.button__f0LGt:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 26px;
}
@media (max-width: 930px) {
  .button__f0LGt:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__gS1 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__jczpQ {
  color: var(--token-eo6SAtX4adj0);
}
@media (max-width: 930px) {
  .text__jczpQ {
    text-align: center;
  }
}
.svg__gM6G2 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__fwkBy:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (max-width: 930px) {
  .button__fwkBy:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__orgqF {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___31OyU {
  color: var(--token-eo6SAtX4adj0);
}
@media (max-width: 930px) {
  .text___31OyU {
    text-align: center;
  }
}
.svg__zmpdu {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__hxgPf {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 321px;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 930px) {
  .freeBox__hxgPf {
    justify-content: center;
    align-items: center;
  }
}
.h4__mbgia {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 930px) {
  .h4__mbgia {
    text-align: center;
    margin-top: 46px;
  }
}
.text__gwKgA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 249px;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  text-align: left;
  margin-top: 32px;
  min-width: 0;
}
@media (max-width: 930px) {
  .text__gwKgA {
    text-align: center;
    align-self: center;
  }
}
.textInput:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 24px;
  margin-bottom: 24px;
}
@media (max-width: 930px) {
  .textInput:global(.__wab_instance) {
    height: 50px;
    width: 284px;
    flex-shrink: 0;
  }
}
.svg__tRlz3 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__dJaYb {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__cQMmZ:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (max-width: 930px) {
  .button__cQMmZ:global(.__wab_instance) {
    align-self: center;
    height: 50px;
    width: 284px;
    margin-bottom: 0px;
    flex-shrink: 0;
  }
}
.svg___0NP72 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
@media (max-width: 930px) {
  .text__dgjVw {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
}
.svg__rdpab {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #ffffff;
  margin-top: 1px;
  margin-left: 24px;
}
.freeBox__hQh8 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 0px 20px;
}
@media (max-width: 930px) {
  .freeBox__hQh8 {
    align-self: center;
  }
}
.text__c7Ogd {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  padding-top: 0px;
  color: var(--token-eo6SAtX4adj0);
  margin-top: 100px;
}
