@import url("https://fonts.googleapis.com/css2?family=Raleway%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Montserrat%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inter%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-I4hJD4zmQkhf: 1140px;
  --plasmic-token-content-max-width: var(--token-I4hJD4zmQkhf);
  --token-6yKA408IJD2Q: #f2f2f7;
  --plasmic-token-light-gray-06: var(--token-6yKA408IJD2Q);
  --token-sBr2oTm8ChU7: #e5e5ea;
  --plasmic-token-light-gray-05: var(--token-sBr2oTm8ChU7);
  --token-ErnUdRjdMk-a: #92959bd9;
  --plasmic-token-light-label: var(--token-ErnUdRjdMk-a);
  --token-lgs4vAj29LJg: #05050599;
  --plasmic-token-light-secondary: var(--token-lgs4vAj29LJg);
  --token-FTKXKRM8LGm8: #007aff;
  --plasmic-token-light-blue: var(--token-FTKXKRM8LGm8);
  --token-dP1VKjpl2NQ3: #ff3b30;
  --plasmic-token-light-red: var(--token-dP1VKjpl2NQ3);
  --token-eo6SAtX4adj0: #ffffff;
  --plasmic-token-white: var(--token-eo6SAtX4adj0);
  --token-so9OJ1UGhYpl: #ffffffd9;
  --plasmic-token-dark-label: var(--token-so9OJ1UGhYpl);
  --token-N7yDZfSOX1pg: #ffffff80;
  --plasmic-token-dark-secondary: var(--token-N7yDZfSOX1pg);
  --token-r4lgycmixQa4: #0000001a;
  --plasmic-token-light-quarternary: var(--token-r4lgycmixQa4);
  --token-YaRTZJq0r_K0: #1c1c1e;
  --plasmic-token-dark-gray-06: var(--token-YaRTZJq0r_K0);
  --token-836mcSsa2hDo: #32d74b;
  --plasmic-token-dark-green: var(--token-836mcSsa2hDo);
  --token-BM4x1ZaEWTi3: #0a84ff;
  --plasmic-token-dark-blue: var(--token-BM4x1ZaEWTi3);
  --token-jkF5TgRf_ra1: #ffffff1a;
  --plasmic-token-dark-quarternary: var(--token-jkF5TgRf_ra1);
  --token-PLtOZJuCu3jq: #34c759;
  --plasmic-token-light-green: var(--token-PLtOZJuCu3jq);
  --token-aBsyPhX5KP6Y: #5856d6;
  --plasmic-token-light-indigo: var(--token-aBsyPhX5KP6Y);
  --token-DbPoc3NRJcCZ: #185adb;
  --plasmic-token-unnamed-style-token: var(--token-DbPoc3NRJcCZ);
  --token-1mH9pSy5B7jk: 1240px;
  --plasmic-token-max-width-navbar: var(--token-1mH9pSy5B7jk);
  --token-pVZYuEIkA_Zy: var(--token-hurqfu8Cv3Cr);
  --plasmic-token-unnamed-style-token-2: var(--token-pVZYuEIkA_Zy);
  --token-hurqfu8Cv3Cr: #eeeeee80;
  --plasmic-token-grey: var(--token-hurqfu8Cv3Cr);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-cyM8r4cX6Kqn_font-family: "Raleway", sans-serif;
  --mixin-cyM8r4cX6Kqn_font-size: 16px;
  --mixin-cyM8r4cX6Kqn_font-weight: 400;
  --mixin-cyM8r4cX6Kqn_font-style: normal;
  --mixin-cyM8r4cX6Kqn_color: #18181db3;
  --mixin-cyM8r4cX6Kqn_text-align: left;
  --mixin-cyM8r4cX6Kqn_text-transform: none;
  --mixin-cyM8r4cX6Kqn_letter-spacing: normal;
  --mixin-cyM8r4cX6Kqn_white-space: pre-wrap;
  --mixin-cyM8r4cX6Kqn_user-select: text;
  --mixin-cyM8r4cX6Kqn_text-decoration-line: none;
  --mixin-cyM8r4cX6Kqn_text-overflow: clip;
  --mixin-cyM8r4cX6Kqn_line-height: 1.5;
  --mixin-Mntgqni5sleq_white-space: pre-wrap;
  --mixin-j0vK-ZRXPpLS_font-family: "Raleway", sans-serif;
  --mixin-j0vK-ZRXPpLS_color: #000000;
  --mixin-j0vK-ZRXPpLS_font-size: 72px;
  --mixin-j0vK-ZRXPpLS_font-weight: 300;
  --mixin-j0vK-ZRXPpLS_text-align: center;
  --mixin-j0vK-ZRXPpLS_white-space: pre-wrap;
  --mixin-a6JPXdlQgWBW_font-family: "Raleway", sans-serif;
  --mixin-a6JPXdlQgWBW_color: #000000;
  --mixin-a6JPXdlQgWBW_font-size: 44px;
  --mixin-a6JPXdlQgWBW_font-weight: 400;
  --mixin-a6JPXdlQgWBW_white-space: pre-wrap;
  --mixin-5Cot2OJA3QjW_font-family: "Raleway", sans-serif;
  --mixin-5Cot2OJA3QjW_color: #000000;
  --mixin-5Cot2OJA3QjW_font-size: 30px;
  --mixin-5Cot2OJA3QjW_font-weight: 400;
  --mixin-5Cot2OJA3QjW_white-space: pre-wrap;
  --mixin-akG2GxJQAYne_font-family: "Montserrat", sans-serif;
  --mixin-akG2GxJQAYne_color: #aeaeae;
  --mixin-akG2GxJQAYne_font-size: 18px;
  --mixin-akG2GxJQAYne_font-weight: 500;
  --mixin-akG2GxJQAYne_letter-spacing: -0.3px;
  --mixin-akG2GxJQAYne_line-height: 22px;
  --mixin-akG2GxJQAYne_white-space: pre-wrap;
  --mixin-Je_NwZaT9hLs_font-family: "Inter", sans-serif;
  --mixin-Je_NwZaT9hLs_color: #000000;
  --mixin-Je_NwZaT9hLs_font-size: 16px;
  --mixin-Je_NwZaT9hLs_font-weight: 600;
  --mixin-Je_NwZaT9hLs_line-height: 1.5;
  --mixin-Je_NwZaT9hLs_white-space: pre-wrap;
  --mixin-gZxgPCkcfU6I_border-left-color: #dddddd;
  --mixin-gZxgPCkcfU6I_border-left-style: solid;
  --mixin-gZxgPCkcfU6I_border-left-width: 3px;
  --mixin-gZxgPCkcfU6I_color: #888888;
  --mixin-gZxgPCkcfU6I_padding-left: 10px;
  --mixin-gZxgPCkcfU6I_white-space: pre-wrap;
  --mixin-J9hsT_YcdGr3_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-J9hsT_YcdGr3_border-bottom-color: #dddddd;
  --mixin-J9hsT_YcdGr3_border-bottom-style: solid;
  --mixin-J9hsT_YcdGr3_border-bottom-width: 1px;
  --mixin-J9hsT_YcdGr3_border-left-color: #dddddd;
  --mixin-J9hsT_YcdGr3_border-left-style: solid;
  --mixin-J9hsT_YcdGr3_border-left-width: 1px;
  --mixin-J9hsT_YcdGr3_border-right-color: #dddddd;
  --mixin-J9hsT_YcdGr3_border-right-style: solid;
  --mixin-J9hsT_YcdGr3_border-right-width: 1px;
  --mixin-J9hsT_YcdGr3_border-top-color: #dddddd;
  --mixin-J9hsT_YcdGr3_border-top-style: solid;
  --mixin-J9hsT_YcdGr3_border-top-width: 1px;
  --mixin-J9hsT_YcdGr3_border-bottom-left-radius: 3px;
  --mixin-J9hsT_YcdGr3_border-bottom-right-radius: 3px;
  --mixin-J9hsT_YcdGr3_border-top-left-radius: 3px;
  --mixin-J9hsT_YcdGr3_border-top-right-radius: 3px;
  --mixin-J9hsT_YcdGr3_font-family: "Inconsolata";
  --mixin-J9hsT_YcdGr3_padding-bottom: 1px;
  --mixin-J9hsT_YcdGr3_padding-left: 4px;
  --mixin-J9hsT_YcdGr3_padding-right: 4px;
  --mixin-J9hsT_YcdGr3_padding-top: 1px;
  --mixin-J9hsT_YcdGr3_white-space: pre-wrap;
  --mixin-s3n7xcVvIC31_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-s3n7xcVvIC31_border-bottom-color: #dddddd;
  --mixin-s3n7xcVvIC31_border-bottom-style: solid;
  --mixin-s3n7xcVvIC31_border-bottom-width: 1px;
  --mixin-s3n7xcVvIC31_border-left-color: #dddddd;
  --mixin-s3n7xcVvIC31_border-left-style: solid;
  --mixin-s3n7xcVvIC31_border-left-width: 1px;
  --mixin-s3n7xcVvIC31_border-right-color: #dddddd;
  --mixin-s3n7xcVvIC31_border-right-style: solid;
  --mixin-s3n7xcVvIC31_border-right-width: 1px;
  --mixin-s3n7xcVvIC31_border-top-color: #dddddd;
  --mixin-s3n7xcVvIC31_border-top-style: solid;
  --mixin-s3n7xcVvIC31_border-top-width: 1px;
  --mixin-s3n7xcVvIC31_border-bottom-left-radius: 3px;
  --mixin-s3n7xcVvIC31_border-bottom-right-radius: 3px;
  --mixin-s3n7xcVvIC31_border-top-left-radius: 3px;
  --mixin-s3n7xcVvIC31_border-top-right-radius: 3px;
  --mixin-s3n7xcVvIC31_font-family: "Inconsolata";
  --mixin-s3n7xcVvIC31_padding-bottom: 3px;
  --mixin-s3n7xcVvIC31_padding-left: 6px;
  --mixin-s3n7xcVvIC31_padding-right: 6px;
  --mixin-s3n7xcVvIC31_padding-top: 3px;
  --mixin-s3n7xcVvIC31_white-space: pre-wrap;
  --mixin-1KfUF8OYLqbC_display: flex;
  --mixin-1KfUF8OYLqbC_flex-direction: column;
  --mixin-1KfUF8OYLqbC_align-items: stretch;
  --mixin-1KfUF8OYLqbC_justify-content: flex-start;
  --mixin-1KfUF8OYLqbC_list-style-position: outside;
  --mixin-1KfUF8OYLqbC_padding-left: 40px;
  --mixin-1KfUF8OYLqbC_position: relative;
  --mixin-1KfUF8OYLqbC_list-style-type: decimal;
  --mixin-1KfUF8OYLqbC_white-space: pre-wrap;
  --mixin-UkGI65DhIhtv_display: flex;
  --mixin-UkGI65DhIhtv_flex-direction: column;
  --mixin-UkGI65DhIhtv_align-items: stretch;
  --mixin-UkGI65DhIhtv_justify-content: flex-start;
  --mixin-UkGI65DhIhtv_list-style-position: outside;
  --mixin-UkGI65DhIhtv_padding-left: 40px;
  --mixin-UkGI65DhIhtv_position: relative;
  --mixin-UkGI65DhIhtv_list-style-type: disc;
  --mixin-UkGI65DhIhtv_white-space: pre-wrap;
  --mixin-feFNnRV-sHXm_color: #000000;
  --mixin-feFNnRV-sHXm_font-family: "Raleway", sans-serif;
  --mixin-feFNnRV-sHXm_font-size: 44px;
  --mixin-feFNnRV-sHXm_text-align: left;
  --mixin-feFNnRV-sHXm_font-weight: 400;
  --mixin-feFNnRV-sHXm_white-space: pre-wrap;
}

@media (max-width: 930px) {
  .plasmic_default_styles {
    --mixin-cyM8r4cX6Kqn_font-size: 18px;
    --mixin-cyM8r4cX6Kqn_font-weight: 400;
    --mixin-cyM8r4cX6Kqn_white-space: pre-wrap;
    --mixin-j0vK-ZRXPpLS_font-size: 40px;
    --mixin-j0vK-ZRXPpLS_line-height: 49px;
    --mixin-j0vK-ZRXPpLS_white-space: pre-wrap;
    --mixin-a6JPXdlQgWBW_font-size: 40px;
    --mixin-a6JPXdlQgWBW_line-height: 49px;
    --mixin-a6JPXdlQgWBW_white-space: pre-wrap;
    --mixin-5Cot2OJA3QjW_font-size: 30px;
    --mixin-5Cot2OJA3QjW_white-space: pre-wrap;
    --mixin-Je_NwZaT9hLs_font-size: 18px;
    --mixin-Je_NwZaT9hLs_white-space: pre-wrap;
    --mixin-feFNnRV-sHXm_font-size: 40px;
    --mixin-feFNnRV-sHXm_line-height: 49px;
    --mixin-feFNnRV-sHXm_white-space: pre-wrap;
  }
}

.plasmic_mixins {
  --mixin-RfwXhjT1MNFh_white-space: pre-wrap;
  --plasmic-mixin-container_white-space: var(--mixin-RfwXhjT1MNFh_white-space);
  --mixin-of_cOzBcnb2m_white-space: pre-wrap;
  --plasmic-mixin-h-4_white-space: var(--mixin-of_cOzBcnb2m_white-space);
  --mixin-dtqQzPtMr2Pv_box-shadow: 0px 0px 0px 3px #007aff80;
  --plasmic-mixin-focus-shadow_box-shadow: var(--mixin-dtqQzPtMr2Pv_box-shadow);
  --mixin-dtqQzPtMr2Pv_white-space: pre-wrap;
  --plasmic-mixin-focus-shadow_white-space: var(
    --mixin-dtqQzPtMr2Pv_white-space
  );
  --mixin-qWB_aOwOvEax_white-space: pre-wrap;
  --plasmic-mixin-10-16-padding_white-space: var(
    --mixin-qWB_aOwOvEax_white-space
  );
  --mixin-9FhQ8mLFgrdj_white-space: pre-wrap;
  --plasmic-mixin-6-radius_white-space: var(--mixin-9FhQ8mLFgrdj_white-space);
  --mixin-aP9xrFH7uluw_box-shadow: 0px 0px 0px 4px #0095ff80;
  --plasmic-mixin-focus-outline_box-shadow: var(
    --mixin-aP9xrFH7uluw_box-shadow
  );
  --mixin-aP9xrFH7uluw_white-space: pre-wrap;
  --plasmic-mixin-focus-outline_white-space: var(
    --mixin-aP9xrFH7uluw_white-space
  );
  --mixin-uHCAuOh0nCrL_box-shadow: 0px 1px 1px 1px #0000001a;
  --plasmic-mixin-extra-small-shadow_box-shadow: var(
    --mixin-uHCAuOh0nCrL_box-shadow
  );
  --mixin-uHCAuOh0nCrL_white-space: pre-wrap;
  --plasmic-mixin-extra-small-shadow_white-space: var(
    --mixin-uHCAuOh0nCrL_white-space
  );
  --mixin-3Ur-2FPCNS9K_white-space: pre-wrap;
  --plasmic-mixin-heading-6_white-space: var(--mixin-3Ur-2FPCNS9K_white-space);
  --mixin-R49bYqoBQzGL_box-shadow: 0px 10px 10px 0px #00000026;
  --plasmic-mixin-medium-shadow_box-shadow: var(
    --mixin-R49bYqoBQzGL_box-shadow
  );
  --mixin-R49bYqoBQzGL_white-space: pre-wrap;
  --plasmic-mixin-medium-shadow_white-space: var(
    --mixin-R49bYqoBQzGL_white-space
  );
  --mixin-_d6OviSDR7q6_white-space: pre-wrap;
  --plasmic-mixin-heading-2_white-space: var(--mixin-_d6OviSDR7q6_white-space);
  --mixin-C235wn_7x8sx_white-space: pre-wrap;
  --plasmic-mixin-bg-image_white-space: var(--mixin-C235wn_7x8sx_white-space);
  --mixin-xb-A78rOdYHP_white-space: pre-wrap;
  --plasmic-mixin-section_white-space: var(--mixin-xb-A78rOdYHP_white-space);
  --mixin-LlQ1e-ZENTGI_white-space: pre-wrap;
  --plasmic-mixin-dark-section-background_white-space: var(
    --mixin-LlQ1e-ZENTGI_white-space
  );
  --mixin-IG6jcAyh8dNr_white-space: pre-wrap;
  --plasmic-mixin-content-max_white-space: var(
    --mixin-IG6jcAyh8dNr_white-space
  );
  --mixin-JOVAukno1r0q_white-space: pre-wrap;
  --plasmic-mixin-strong_white-space: var(--mixin-JOVAukno1r0q_white-space);
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-cyM8r4cX6Kqn_font-family);
  font-size: var(--mixin-cyM8r4cX6Kqn_font-size);
  font-weight: var(--mixin-cyM8r4cX6Kqn_font-weight);
  font-style: var(--mixin-cyM8r4cX6Kqn_font-style);
  color: var(--mixin-cyM8r4cX6Kqn_color);
  text-align: var(--mixin-cyM8r4cX6Kqn_text-align);
  text-transform: var(--mixin-cyM8r4cX6Kqn_text-transform);
  line-height: var(--mixin-cyM8r4cX6Kqn_line-height);
  letter-spacing: var(--mixin-cyM8r4cX6Kqn_letter-spacing);
  white-space: var(--mixin-cyM8r4cX6Kqn_white-space);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  font-family: var(--mixin-j0vK-ZRXPpLS_font-family);
  color: var(--mixin-j0vK-ZRXPpLS_color);
  font-size: var(--mixin-j0vK-ZRXPpLS_font-size);
  font-weight: var(--mixin-j0vK-ZRXPpLS_font-weight);
  text-align: var(--mixin-j0vK-ZRXPpLS_text-align);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-family: var(--mixin-a6JPXdlQgWBW_font-family);
  color: var(--mixin-a6JPXdlQgWBW_color);
  font-size: var(--mixin-a6JPXdlQgWBW_font-size);
  font-weight: var(--mixin-a6JPXdlQgWBW_font-weight);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-family: var(--mixin-5Cot2OJA3QjW_font-family);
  color: var(--mixin-5Cot2OJA3QjW_color);
  font-size: var(--mixin-5Cot2OJA3QjW_font-size);
  font-weight: var(--mixin-5Cot2OJA3QjW_font-weight);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-family: var(--mixin-akG2GxJQAYne_font-family);
  color: var(--mixin-akG2GxJQAYne_color);
  font-size: var(--mixin-akG2GxJQAYne_font-size);
  font-weight: var(--mixin-akG2GxJQAYne_font-weight);
  letter-spacing: var(--mixin-akG2GxJQAYne_letter-spacing);
  line-height: var(--mixin-akG2GxJQAYne_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-Je_NwZaT9hLs_font-family);
  color: var(--mixin-Je_NwZaT9hLs_color);
  font-size: var(--mixin-Je_NwZaT9hLs_font-size);
  font-weight: var(--mixin-Je_NwZaT9hLs_font-weight);
  line-height: var(--mixin-Je_NwZaT9hLs_line-height);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-gZxgPCkcfU6I_color);
  padding-left: var(--mixin-gZxgPCkcfU6I_padding-left);
  border-left: var(--mixin-gZxgPCkcfU6I_border-left-width)
    var(--mixin-gZxgPCkcfU6I_border-left-style)
    var(--mixin-gZxgPCkcfU6I_border-left-color);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-J9hsT_YcdGr3_font-family);
  border-radius: var(--mixin-J9hsT_YcdGr3_border-top-left-radius)
    var(--mixin-J9hsT_YcdGr3_border-top-right-radius)
    var(--mixin-J9hsT_YcdGr3_border-bottom-right-radius)
    var(--mixin-J9hsT_YcdGr3_border-bottom-left-radius);
  padding: var(--mixin-J9hsT_YcdGr3_padding-top)
    var(--mixin-J9hsT_YcdGr3_padding-right)
    var(--mixin-J9hsT_YcdGr3_padding-bottom)
    var(--mixin-J9hsT_YcdGr3_padding-left);
  border-top: var(--mixin-J9hsT_YcdGr3_border-top-width)
    var(--mixin-J9hsT_YcdGr3_border-top-style)
    var(--mixin-J9hsT_YcdGr3_border-top-color);
  border-right: var(--mixin-J9hsT_YcdGr3_border-right-width)
    var(--mixin-J9hsT_YcdGr3_border-right-style)
    var(--mixin-J9hsT_YcdGr3_border-right-color);
  border-bottom: var(--mixin-J9hsT_YcdGr3_border-bottom-width)
    var(--mixin-J9hsT_YcdGr3_border-bottom-style)
    var(--mixin-J9hsT_YcdGr3_border-bottom-color);
  border-left: var(--mixin-J9hsT_YcdGr3_border-left-width)
    var(--mixin-J9hsT_YcdGr3_border-left-style)
    var(--mixin-J9hsT_YcdGr3_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-s3n7xcVvIC31_font-family);
  border-radius: var(--mixin-s3n7xcVvIC31_border-top-left-radius)
    var(--mixin-s3n7xcVvIC31_border-top-right-radius)
    var(--mixin-s3n7xcVvIC31_border-bottom-right-radius)
    var(--mixin-s3n7xcVvIC31_border-bottom-left-radius);
  padding: var(--mixin-s3n7xcVvIC31_padding-top)
    var(--mixin-s3n7xcVvIC31_padding-right)
    var(--mixin-s3n7xcVvIC31_padding-bottom)
    var(--mixin-s3n7xcVvIC31_padding-left);
  border-top: var(--mixin-s3n7xcVvIC31_border-top-width)
    var(--mixin-s3n7xcVvIC31_border-top-style)
    var(--mixin-s3n7xcVvIC31_border-top-color);
  border-right: var(--mixin-s3n7xcVvIC31_border-right-width)
    var(--mixin-s3n7xcVvIC31_border-right-style)
    var(--mixin-s3n7xcVvIC31_border-right-color);
  border-bottom: var(--mixin-s3n7xcVvIC31_border-bottom-width)
    var(--mixin-s3n7xcVvIC31_border-bottom-style)
    var(--mixin-s3n7xcVvIC31_border-bottom-color);
  border-left: var(--mixin-s3n7xcVvIC31_border-left-width)
    var(--mixin-s3n7xcVvIC31_border-left-style)
    var(--mixin-s3n7xcVvIC31_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-1KfUF8OYLqbC_display);
  flex-direction: var(--mixin-1KfUF8OYLqbC_flex-direction);
  align-items: var(--mixin-1KfUF8OYLqbC_align-items);
  justify-content: var(--mixin-1KfUF8OYLqbC_justify-content);
  list-style-position: var(--mixin-1KfUF8OYLqbC_list-style-position);
  padding-left: var(--mixin-1KfUF8OYLqbC_padding-left);
  position: var(--mixin-1KfUF8OYLqbC_position);
  list-style-type: var(--mixin-1KfUF8OYLqbC_list-style-type);
  flex-column-gap: var(--mixin-1KfUF8OYLqbC_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-UkGI65DhIhtv_display);
  flex-direction: var(--mixin-UkGI65DhIhtv_flex-direction);
  align-items: var(--mixin-UkGI65DhIhtv_align-items);
  justify-content: var(--mixin-UkGI65DhIhtv_justify-content);
  list-style-position: var(--mixin-UkGI65DhIhtv_list-style-position);
  padding-left: var(--mixin-UkGI65DhIhtv_padding-left);
  position: var(--mixin-UkGI65DhIhtv_position);
  list-style-type: var(--mixin-UkGI65DhIhtv_list-style-type);
  flex-column-gap: var(--mixin-UkGI65DhIhtv_flex-column-gap);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-feFNnRV-sHXm_color);
  font-family: var(--mixin-feFNnRV-sHXm_font-family);
  font-size: var(--mixin-feFNnRV-sHXm_font-size);
  text-align: var(--mixin-feFNnRV-sHXm_text-align);
  font-weight: var(--mixin-feFNnRV-sHXm_font-weight);
}
